html {
    background-color: #e7ecef;
}

#hangman-container {
    margin: 0 auto;
    text-align: center;
}

#word {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.letter-display {
    width: 3rem;
    height: 6rem;
    font-size: 2.4rem;
    text-align: center;
}

#selections {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.letter-select {
    width: 4rem;
    height: 3rem;
    margin: 0.4rem;
    color: #f4f4f4;
    background-color: #030303;
    font-size: 1.6rem;
    border: 0.3rem solid #030303;
    cursor: pointer;
}

.letter-select:hover:not([disabled]) {
    color: #030303;
    background-color: #f4f4f4;
}

.letter-select[disabled] {
    cursor: not-allowed;
}

.correct, .incorrect {
    color: #f4f4f4;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}